{% extends 'base.html' %}
{% load static custom_tags %}
{% block title %} Home {% endblock %}

{% block content %}


<section class="home-slider owl-carousel">
    <div class="slider-item">
        <div class="container">
            <div class="row d-flex slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="img" style="background-image: url({% static 'images/bg_1.jpg' %});"></div>

                <div class="text d-flex align-items-center ftco-animate">
                    <div class="text-2 pb-lg-5 mb-lg-4 px-4 px-md-5">
                        <h3 class="subheading mb-3">Featured Posts</h3>
                        <h1 class="mb-5">Love the Delicious &amp; Tasty Foods</h1>
                        <p class="mb-md-5">A small river named Duden flows by their place and supplies it with the
                            necessary regelialia</p>
                        <p><a href="#" class="btn btn-black px-3 px-md-4 py-3">Read More <span
                                    class="icon-arrow_forward ml-lg-4"></span></a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item">
        <div class="container">
            <div class="row d-flex slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="img" style="background-image: url({% static 'images/bg_2.jpg' %});"></div>

                <div class="text d-flex align-items-center ftco-animate">
                    <div class="text-2 pb-lg-5 mb-lg-4 px-4 px-md-5">
                        <h3 class="subheading mb-3">Featured Posts</h3>
                        <h1 class="mb-5">I am A Blogger &amp; I Love Foods</h1>
                        <p class="mb-md-5">A small river named Duden flows by their place and supplies it with the
                            necessary regelialia</p>
                        <p><a href="#" class="btn btn-black px-3 px-md-4 py-3">Read More <span
                                    class="icon-arrow_forward ml-lg-4"></span></a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 heading-section ftco-animate">
                <h2 class="mb-4"><span>Recent Stories</span></h2>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 order-md-last col-lg-6 ftco-animate">
                <div class="blog-entry">
                    {% if random_story %}
                    <div class="img img-big d-flex align-items-end"
                        style="background-image: url({{random_story.image.url}});">
                        <div class="overlay"></div>
                        <div class="text">
                            <span class="subheading">{{random_story.category.title}}</span>
                            <h3><a href="single.html">{{random_story.title}}</a></h3>
                            <p class="mb-0"><a href="{% url 'stories:story_detail' random_story.slug %}" class="btn-custom">Read
                                    More <span class="icon-arrow_forward ml-4"></span></a></p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">

                    {% for story  in stories %}
                    <div class="col-md-6 ftco-animate">
                        <div class="blog-entry">
                            <a href="{% url 'stories:story_detail' story.slug %}" class="img d-flex align-items-end"
                                style="background-image: url('{{story.image.url}}');">
                                <div class="overlay"></div>
                            </a>
                            <div class="text pt-3">
                                <p class="meta d-flex"><span class="pr-3">{{story.category}}</span><span
                                        class="ml-auto pl-3">{{story.created_at|date:"F d, Y"}}</span>
                                </p>
                                <h3><a href="{% url 'stories:story_detail' story.slug %}">{{story.title}}</a></h3>
                                <p class="mb-0"><a href="{% url 'stories:story_detail' story.slug %}" class="btn-custom">Read
                                        More <span class="icon-arrow_forward ml-4"></span></a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

{% if request.user.is_authenticated %}
<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h2 class="mb-4"><span>My Posts</span></h2>
                    </div>
                </div>
                <div class="row">

                    {% for story in request.user.stories.all|slice:":3" %}
                    <div class="col-md-4 ftco-animate">
                        <div class="blog-entry">
                            <a href="{{story.get_absolute_url }}" class="img-2"><img src="{{story.image.url}}"
                                    class="img-fluid" alt="Colorlib Template"></a>
                            <div class="text pt-3">
                                <p class="meta d-flex"><span class="pr-3">{{story.category.title}}</span><span
                                        class="ml-auto pl-3">{{story.created_at|date:"F d, Y"}}</span>
                                </p>
                                <h3><a href="{{story.get_absolute_url }}">{{story.title}}</a></h3>
                                <p class="mb-0"><a href="{{story.get_absolute_url }}" class="btn btn-black py-2">Read
                                        More <span class="icon-arrow_forward ml-4"></span></a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-3">
                <div class="sidebar-wrap">

                    <div class="sidebar-box p-4 about text-center ftco-animate">
                        <h2 class="heading mb-4">About Me</h2>
                        <img src="{{ request.user.get_avatar }}" class="img-fluid" alt="Colorlib Template">
                        <div class="text pt-4">
                            <p>{{request.user.bio}}</p>
                        </div>
                    </div>

                    <div class="sidebar-box p-4 ftco-animate">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon icon-search"></span>
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h2 class="mb-4"><span>Holiday Seasons Recipes</span></h2>
                    </div>
                </div>
                <div class="row">
                    {% for recipe in recipes  %}
                    <div class="col-md-6 col-lg-6 ftco-animate">
                        <div class="blog-entry">
                            <div class="img img-big img-big-2 d-flex align-items-end"
                                style="background-image: url( '{{recipe.image.url}}');">
                                <div class="overlay"></div>
                                <div class="text">
                                    <span class="subheading">{{recipe.category}}</span>
                                    <h3><a href="{% url 'stories:recipe_detail' recipe.slug %}">{{recipe.short_description}}</a>
                                    </h3>
                                    <p class="mb-0"><a href="{% url 'stories:recipe_detail' recipe.slug %}"
                                            class="btn-custom">Read More <span
                                                class="icon-arrow_forward ml-4"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar-wrap pt-4">
                    <div class="sidebar-box categories text-center ftco-animate">
                        <h2 class="heading mb-4">Categories</h2>
                        <ul class="category-image">
                            {% category as items %}
                            {% for category  in items %}
                            <li>
                                <a href="{% url 'stories:stories' %}"
                                    class="img d-flex align-items-center justify-content-center text-center"
                                    style="background-image: url('{{category.image.url}}')">
                                    <div class="text">
                                        <h3>{{category.title}}</h3>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img" id="section-counter">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <div class="img d-flex align-self-stretch"
                    style="background-image:url({% static 'images/about.jpg' %});"></div>
            </div>
            <div class="col-md-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h2 class="mb-4">About Stories</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center py-5 bg-light mb-4">
                            <div class="text">
                                {% informations as information %}
                                <strong class="number" data-number="{{information.daily_visitors}}">0</strong>
                                <span>Daily visitors</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center py-5 bg-light mb-4">
                            <div class="text">
                                <strong class="number" data-number="{{information.stories}}">0</strong>
                                <span>Stories</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center py-5 bg-light mb-4">
                            <div class="text">
                                <strong class="number" data-number="{{information.recipes}}">0</strong>
                                <span>Recipes</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center py-5 bg-light mb-4">
                            <div class="text">
                                <strong class="number" data-number="{{information.users}}">0</strong>
                                <span>Users</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}