{% extends 'base.html' %}
{% load static custom_tags %}
{% block title %} Recipes {% endblock %}

{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_4.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Saved Recipes</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'stories:home' %}">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Recipes <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    {% for recipe in recipe_list %}
                    <div class="col-md-6 col-lg-12 ftco-animate">
                        <div class="blog-entry d-lg-flex">
                            <div class="half">
                                <a href="{% url 'stories:recipe_detail' recipe.slug %}" class="img d-flex align-items-end"
                                    style="background-image: url('{{recipe.image.url}}');">
                                    <div class="overlay"></div>
                                </a>
                            </div>
                            <div class="text px-md-4 px-lg-5 half pt-3">
                                <p class="meta d-flex"><span class="pr-3">{{recipe.category.title}}</span><span class="ml-auto pl-3">{{recipe.created_at|date:"F d, Y"}}</span>
                                </p>
                                <h3><a href="{% url 'stories:recipe_detail' recipe.slug %}">{{recipe.title}}</a> <i onclick="save_article({{recipe.id}})" class="fa fa-heart" style="font-size:24px;color:red;margin-left:10px;cursor:pointer"></i></h3>
                                <p>{{recipe.short_description}}
                                </p>
                                <p class="mb-0"><a href="{% url 'stories:recipe_detail' recipe.slug %}"class="btn btn-primary">Read More <span
                                            class="icon-arrow_forward ml-4"></span></a></p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h1>Gosterilecek melumat yoxdur</h1>
                    {% endfor %}

                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                                {% endif %}
                               
                                {% for page in page_obj.paginator.page_range %}
                                {% if page == page_obj.number %}
                                <li class="active"><span>{{page}}</span></li>
                                {% else %}
                                <li><a href="?page={{page}}">{{page}}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.paginator.num_pages }}">&gt;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="sidebar-wrap">
                   {% if request.user.is_authenticated %}
                    <div class="sidebar-box p-4 about text-center ftco-animate">
                        <h2 class="heading mb-4">About Me</h2>
                        <img src="{{ request.user.get_avatar }}" class="img-fluid" alt="Colorlib Template">
                        <div class="text pt-4">
                            <p>{{request.user.bio}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="sidebar-box p-4 ftco-animate">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon icon-search"></span>
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-box categories text-center ftco-animate">
                            <h2 class="heading mb-4">Categories</h2>
                            <ul class="category-image">
                                {% category as items %}
                                {% for category  in items %}
                                <li>
                                    <a href="{% url 'stories:stories' %}"
                                        class="img d-flex align-items-center justify-content-center text-center"
                                        style="background-image: url('{{category.image.url}}')">
                                        <div class="text">
                                            <h3>{{category.title}}</h3>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock %}

