{% extends 'base.html' %}
{% load static custom_tags %}
{% block title %} Stories {% endblock %}


{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_4.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Stories</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'stories:home' %}">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Stories <i
                            class="ion-ios-arrow-forward"></i></span>
                </p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">

                    {% for story in story_list %}
                    <div class="col-md-4 ftco-animate">
                        <div class="blog-entry">
                            <a href="{{ story.get_absolute_url }}" class="img-2"><img src="{{story.image.url}}" class="img-fluid"
                                    alt="Colorlib Template"></a>
                            <div class="text pt-3">
                                <p class="meta d-flex"><span class="pr-3">{{story.category}}</span><span
                                        class="ml-auto pl-3">{{story.created_at|date:"F d, Y"}}</span>
                                </p>
                                <h3><a href="{{ story.get_absolute_url }}">{{story.title}}</a></h3>
                                <p class="mb-0"><a href="{{ story.get_absolute_url }}" class="btn btn-black py-2">Read More <span
                                            class="icon-arrow_forward ml-4"></span></a></p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h1>Gosterilecek melumat yoxdur</h1>
                    {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                                {% endif %}
                               
                                {% for page in page_obj.paginator.page_range %}
                                {% if page == page_obj.number %}
                                <li class="active"><span>{{page}}</span></li>
                                {% else %}
                                <li><a href="?page={{page}}">{{page}}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.paginator.num_pages }}">&gt;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="sidebar-wrap">
                {% if request.user.is_authenticated %}
                    <div class="sidebar-box p-4 about text-center ftco-animate">
                        <h2 class="heading mb-4">About Me</h2>
                        <img src="{{ request.user.get_avatar }}" class="img-fluid" alt="Colorlib Template">
                        <div class="text pt-4">
                            <p>{{request.user.bio}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="sidebar-box p-4 ftco-animate">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon icon-search"></span>
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-box categories text-center ftco-animate">
                        <h2 class="heading mb-4">Categories</h2>
                        <ul class="category-image">
                            {% category as items %}
                            {% for category  in items %}
                            <li>
                                <a href="{% url 'stories:stories' %}"
                                    class="img d-flex align-items-center justify-content-center text-center"
                                    style="background-image: url('{{category.image.url}}')">
                                    <div class="text">
                                        <h3>{{category.title}}</h3>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock %}