.register {
    background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/5762825/910/607/m2/fpnw/wm1/qnbjoz10phg841sehyaonlmj713nxovl2pdabrd72crom14mudvjubwr7w7m0rlu-.jpg?1548402703&s=889f843a3e66eb85e6e748f728ce6953');
    padding-bottom: 48px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.create-story {
    background-image: url('https://backgrounddownload.com/wp-content/uploads/2018/09/background-for-food-website-3.jpg');
    padding-bottom: 48px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.forgot-password {
    float: right;
}

.reset {
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins", Arial, sans-serif;
    padding-bottom: 15px;
}

.center {
    text-align: center;
}

.social-login {
    border-radius: 50%;
    color: #fff;
    box-shadow: 1px 1px 3px #333;
    width: 50px;
    height: 50px;
    line-height: 50px !important;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-size: 1.8em;
}

.fb-color {
    background-color: #3C599F;
}

.google-color {
    background-color: #CF3D2E;
}

.social {
    padding: 0 10px;
}

.user-profile {
    text-align: center;
}

.btn-hover-color {
    background-color: #fd5f00;
    color: #fff;
    width: 200px;
}

.btn-hover-color:hover {
    background-color: #000;
    color: #fff;
}

.user-profile-side-bar .sidebar-box {
    margin-bottom: 10px;
}

.user-events__edit {
    color: #ffffff;
    font-size: 1.4rem;
    position: absolute;
    right: 1.5rem;
    top: .5rem;
    z-index: 100;
}

.user-events__edit>button {
    background: none;
    border: none;
    border-radius: 50%;
    color: inherit;
    cursor: pointer;
    height: 2.9rem;
    outline: none !important;
    text-shadow: 0 0 1rem #000;
    width: 2rem;
}

.hover-none {
    pointer-events: none;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }