{% extends 'base.html' %}
{% load static custom_tags socialaccount %}
{% block title %} Sign In {% endblock %}

{% block content %}
<section class="ftco-section contact-section register">
    <div class="container">
        <div class="row block-9 justify-content-center">
            <div class="col-md-6 order-md-last d-flex">
                <form action="" method="POST" class="bg-light p-5 contact-form">
                    <a class="navbar-brand center" href="#">Stories<span>.</span></a>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="form-group">
                        {{field}}
                        {{field.help_text}}
                        {{field.errors}}
                    </div>
                    {% endfor %}


                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary py-3 px-5">
                        <a href="{% url 'user:forget_password' %}" class="forgot-password">Forgot password?</a>
                    </div>
                    <div class="form-group">
                        <a href="{% url 'user:register' %}" class="">Don't have an account? Sign up</a>
                    </div>
                    <div class="form-group center">
                        <a href="{% provider_login_url "facebook" method="oauth2" %}" class="social"><i class="fa fa-facebook social-login fb-color"></i></a>
                        <a href="{% provider_login_url "google" %} " class="social"><i class="fa fa-google-plus social-login google-color"></i></a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}